**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/logs
**/node_modules
**/out
**/build
EXE/wwwroot/EXE.styles.css
EXE/EXE.deps.json
EXE/EXE.runtimeconfig.json
EXE/EXE.dll
EXE/EXE.exe
EXE/EXE.pdb
EXE/EXE.staticwebassets.endpoints.json
